#body {
    flex: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
    background-color: white;

    .message {
        width: 190px;
        padding: 10px;
        border-radius: 11px;
        margin-bottom: 6px;
    }
    .ai {
        background-color: #EAEAEA;
        color: black;
        height: auto;
    }
    .user {
        background-color: #1278F8;
        color: white;
        margin-left: auto;
        height: auto;
    }
    /* CSS iMessage Typing Indicator*/
    .typing-indicator {
        background-color: #EAEAEA;
        will-change: transform;
        width: 60px;
        border-radius: 22px 22px 22px 3px;
        // padding: 20px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .typing-indicator div {
        height: 10px;
        width: 10px;
        float: left;
        margin: 0 1px;
        margin-left: 2px;
        margin-right: 2px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
    }
    
    .typing-indicator div:nth-of-type(1) {
        -webkit-animation: 1s blink infinite 0.3333s;
        animation: 1s blink infinite 0.3333s;
    }
    
    .typing-indicator div:nth-of-type(2) {
        -webkit-animation: 1s blink infinite 0.6666s;
        animation: 1s blink infinite 0.6666s;
    }
    
    .typing-indicator div:nth-of-type(3) {
        -webkit-animation: 1s blink infinite 0.9999s;
        animation: 1s blink infinite 0.9999s;
    }
    
    @-webkit-keyframes blink {
        50% {
            opacity: 1;
        }
    }
    
    @keyframes blink {
        50% {
            opacity: 1;
        }
    }
}