#footer {
    width: 100%;
    border-top: 1px solid gray;
    height: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    #input {
        border: 1px solid #CCCCCB;
        width: 210px;
        height: 40px;
        border-radius: 12px;
    }
}
