#header {
    height: 100px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;

    .pfp {
        background-image: url("../images/mountains.jpg");
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}
